node_modules
design
temp

dist/**
!dist/
!dist/*.zip


dev-dist
.DS_Store
.vuerc
.version
.versions
.changelog
.idea
.vscode
*.local
.env
.vscode
packages/test
package-lock.json
cypress/screenshots/
cypress/videos/
components.d.ts
i18n-extract
*.log
